---
---
@charset "utf-8";

body {
  background-color: #382f32;
  color: #FFFFFF;
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 28px;
  font-family: 'Roboto';
}
a {
  cursor: pointer;
  text-decoration: none;
}

.nav-layout-transparent .mdl-layout__header,
.nav-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.headerbox {
  background: url('{{ "/assets/images/header.jpg" | relative_url }}') 50% 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  text-align: center;
  z-index: -1;
}

.headings {
  display: table-cell;
  padding-top: 2.5%;
  /*background-color: rgba(108,108,108,.4);*/
  background-color: rgba(108,108,108,.0);
/*  background-image: url('{{ "/assets/images/dots.png" | relative_url }}'); */
}

.logo {
  font-family: 'Lobster';
  font-size: 25px;
  color: white;
}

.mdl-layout__header > .mdl-layout__header-row > .mdl-layout-title {
  display: block;
}

.newlogo {
  display: block;
  position: absolute;
  font-size: 20px;
  padding-left: 55px;
  padding-top: 14px;
}

.posts {
  max-width: 900px;
  margin: 0 auto;
}


.titlebox {
  min-height: 150px;
  cursor: pointer;
}

#bottomremover {
  padding-bottom: 0px;
}

#topreducer {
  padding-top: 4px;
}

.index-titles {
  font-size: 24px;
}

.excerpt {
  font-size: 15px;
}

.bottom-nav {
  color: white;
  margin: 12px 15px;
  justify-content: space-between;
  display: flex;
}

.bottom-nav__button {
  color: white;
}

.section-spacer {
  flex-grow: 1;
}

.bottom-nav > .mdl-button:hover {
  background-color:white !important;
  text-decoration: none;
}

.bottom-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}

.bottom-nav > .bottom-nav__button:first-child .mdl-button {
  margin-right: 16px;
}

.bottom-nav > .bottom-nav__button:last-child .mdl-button {
  margin-left: 16px;
}

/* post.html */

.coloredtop {
  min-height: 175px;
  width: 100%;
}

.titlediv {
  padding-top: 145px;
  padding-left: 30px;

}

.posttitle {
  font-size: 35px;
  font-weight: lighter;
  line-height: 40px;
}

#rightalign {
  text-align: right;
}

.postcontent {
  color: #333;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 10%;
  text-align: justify;
}

.postcontent > p {
  font-size: 15px;
}

/* Media queries for responsive web design */

@media only screen and (min-width: 1101px) {
  .nav-layout-transparent > .mdl-layout__drawer-button {
    display: none;
  }
  .newlogo {
    display: none;
  }
  .content-push {
    padding-top: 23%;
    position: relative;
    padding-bottom: 5%;
  }
}
@media only screen and (max-width: 1100px) {
  .content-push {
    padding-top: 35%;
    position: relative;
    padding-bottom: 5%;
  }
}
@media only screen and (max-width:767px) {
    .content-push {
      padding-top: 45%;
      position: relative;
      padding-bottom: 5%;
    }
}
@media only screen and (max-width:560px) {
  .content-push {
    padding-top: 50%;
    position: relative;
    padding-bottom: 5%;
}
}
@media only screen and (max-width:430px) {
  .content-push {
    padding-top: 50%;
    position: relative;
    padding-bottom: 5%;
}
}

/* Eigene Ergänzungen */

.image-wrapper {
    text-align: center;

    .image-caption {
        color: #aaa;
        margin-top: 1em / 3;
    }
}

img {
    border-radius: 2px;
}

/* Coolors Exported Palette - coolors.co/f6511d-72b01d-ffb42e-0074b9-98307f */

/* HSL */
$color1: hsla(14%, 92%, 54%, 1);
$color2: hsla(85%, 72%, 40%, 1);
$color3: hsla(38%, 100%, 59%, 1);
$color4: hsla(202%, 100%, 36%, 1);
$color5: hsla(314%, 52%, 39%, 1);

/* RGB */
$color1: rgba(246, 81, 29, 1);
$color2: rgba(114, 176, 29, 1);
$color3: rgba(255, 180, 46, 1);
$color4: rgba(0, 116, 185, 1);
$color5: rgba(152, 48, 127, 1);

/* Tests */

img.test {
    float: right;
}

a.img {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}

a.img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}
